<div class="px-4 py-2 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead">
            Calling all kitchen wizards! Got a recipe that dazzles taste buds? We'd love to feature your culinary genius! Share your flavorsome creation with us and let's spread delicious inspiration together.
        </p>
    </div>
</div>

<div class="row justify-content-center">

    <% if(infoSubmitObj != '') { %>
        <div class="col-8 alert alert-info" role="alert">
            <%= infoSubmitObj %>
        </div>
    <% } %>

    <% if(infoErrorsObj != '') { %>
        <div class="col-8 alert alert-danger" role="alert">
            <%= infoErrorsObj[0].message %>
        </div>
    <% } %>

    <div class="col-8">

        <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
            <div class="row g-3">
                <div class="row-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="row-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="row-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" cols="30" rows="4"></textarea>
                </div>
                <div class="row-12">
                    <label for="ingredients" class="form-label">Ingredients</label><br>
                    <div class="ingredientList">
                        <div class="ingredientDiv mb-1">
                            <input type="text" class="form-control" name="ingredients">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-dark" id="addIngredientsBtn">+ Ingredient</button>
                </div>

                <div class="col-12">
                    <label for="category">Select Category</label>
                    <select class="form-select form-control" name="category" aria-label="Category">
                        <option selected>Select Category</option>
                        <option value="Thai">Thai</option>
                        <option value="American">American</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>
                        <option value="Italian">Italian</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Asian">Asian</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="image">Product Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-dark submit-button">Submit Recipe</button>
                </div>
            </div>
        </form>

    </div>
</div>
