:root{
    --bs-font-sans-serif: 'Lora', sans-serif;
}

.container-xxl {
    max-width: 80%;
    background-color: #fff6f4;
    color: #74402d;
}

body{
    /* background-image: url("/img/i-like-food.svg"); */
    background-color: #F4CCCC;
}

a{
    color: #333333;
}

.search-bar{
    background-color: #fff6f4;
}
/*Categories*/

.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover {
    transform: scale(1.1);
}

.category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img--large {
    height:230px;
}

.category__img img {
    width: 110%;
    object-fit: cover;
}

.btn{
    background-color: #C1536B;
    border: none;
    border-radius: 15px;
}

.submit-button{
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    transition: all 0.3s ease;
}

.submit-button:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    transform: translateY(3px);
}

/* footer */
footer {
    background-color: #fff6f4;
    color: #C1536B;
    text-align: center;
    padding: 20px 0;
    margin-top: 1rem;
}

footer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.publish-recipe{
    padding-top: 2rem;
}

#newsletter-section{
    background-color: #C1536B;
    color: #fff6f4;
    padding: 1.5rem;
    box-shadow:  0px 3px 6px rgba(0, 0, 0, .16);
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0;
}

.email-input{
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.email-input::placeholder {
    color: #999;
    padding-left: 0.75rem;
}

.email-input:focus {
    outline: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.subs-button{
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    transition: all 0.3s ease;
}